# Игнорирование файлов
.tmb/
.idea/
node_modules/
wp-content/themes/twentytwenty/
wp-content/themes/twentytwentyone/
wp-content/themes/twentytwentytwo/
wp-content/themes/my-inherit/
wp-content/uploads/
wp-content/cache/
wp-content/backups-dup-lite/

# Игнорирование всех плагинов, кроме указанных
wp-content/plugins/*
!wp-content/plugins/vitospanel/
!wp-content/plugins/vitosslider/
!wp-content/plugins/vitos-cookie-notify/
!wp-content/plugins/sportisland-study-hooks/
!wp-content/plugins/sportisland-study/
!wp-content/plugins/vitos-widget-categories-oop/
!wp-content/plugins/vitos-widget-categories/
!wp-content/plugins/gutenberg-block/
!wp-content/plugins/gutenberg-block-inner/
!wp-content/plugins/dynamic-block/
